<div class="postMenu-page">
    <Cards class="postMenu">
        <template v-slot:header>
            <span>岗位菜单授权管理</span>
        </template>
        <template v-slot:content>
            <Form :form="postMenuForm" class="postMenuForm">
                <Row>
                    <Cell>
                        <Label>
                            岗位代码
                        </Label>
                        <Value v-form-controller="'code'">
                            <el-input v-model="postMenuForm.value.code" />
                        </Value>
                    </Cell>
                    <Cell>
                        <Label>
                            岗位名称
                        </Label>
                        <Value v-form-controller="'name'">
                            <el-input v-model="postMenuForm.value.name" />
                        </Value>
                    </Cell>
                    <Cell> </Cell>
                </Row>
            </Form>
            <Aside class="btn-left">
                <el-button type="primary" size="small">查询</el-button>
            </Aside>
        </template>
    </Cards>
    <Cards class="postMenu-info">
        <template v-slot:header>
            <span>信息列表</span>
        </template>
        <template v-slot:content>
            <!-- 列表页面 -->
            <div class="postMenuList">
                <!--                表格-->
                <el-table
                        stripe border
                        ref="postMenuTable"
                        :header-cell-style="{background:'#85a0cd'}"
                        :data="postMenuData"
                        style="width: 100%"
                >
                    <el-table-column
                            prop="number"
                            label="岗位代码"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="岗位名称"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="brand"
                            label="品牌"
                    >
                    </el-table-column>
                    <el-table-column
                            label="操作"
                            width="200"
                    >
                        <template slot-scope="scope">
                            <el-button type="text" size="small" @click="menuPower(scope.row)">菜单授权</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!--                分页器-->
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="pageSizes"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total"
                        class="text-right"
                >
                </el-pagination>
            </div>
        </template>
    </Cards>
</div>