<div class="channelRegistration-add-page">
    <Cards class="channelRegistration-add">
        <template v-slot:header>
            <span>频道编辑</span>
        </template>
        <template v-slot:content>
            <Form :form="channelAddForm" class="channelForm">
                <Row>
                    <Cell>
                        <Label>
                            频道编码
                        </Label>
                        <Value v-form-controller="'code'">
                            <el-input v-model="channelAddForm.value.code" />
                        </Value>
                    </Cell>
                </Row>
                <Row>
                    <Cell>
                        <Label>
                            频道名称
                        </Label>
                        <Value v-form-controller="'name'">
                            <el-input v-model="channelAddForm.value.name" />
                        </Value>
                    </Cell>
                </Row>
                <Row>
                    <Cell>
                        <Label>
                            描述
                        </Label>
                        <Value v-form-controller="'desc'">
                            <el-input type="textarea" v-model="channelAddForm.value.desc"></el-input>
                        </Value>
                    </Cell>
                </Row>
                <Row>
                    <Cell>
                        <Label>
                            目标URL
                        </Label>
                        <Value v-form-controller="'targetURL'">
                            <el-input v-model="channelAddForm.value.targetURL" />
                        </Value>
                    </Cell>
                </Row>
                <Row>
                    <Cell>
                        <Label>
                            排序
                        </Label>
                        <Value v-form-controller="'sort'">
                            <el-input v-model="channelAddForm.value.sort" />
                        </Value>
                    </Cell>
                </Row>
                <Row>
                    <Cell>
                        <Label>
                            展示方式
                        </Label>
                        <Value v-form-controller="'showType'">
                            <el-input v-model="channelAddForm.value.showType" />
                        </Value>
                    </Cell>
                </Row>
                <Row>
                    <Cell>
                        <Label>
                            所属品牌
                        </Label>
                        <Value v-form-controller="'brand'">
                            <el-input v-model="channelAddForm.value.brand" />
                        </Value>
                    </Cell>
                </Row>
                <Row>
                    <Cell>
                        <Label>
                            状态
                        </Label>
                        <Value v-form-controller="'status'">
                            <el-select v-model="channelAddForm.value.status" clearable>
                                <el-option :value="'双品牌'" label="双品牌"/>
                                <el-option :value="'xxx'" label="xxx"/>
                                <el-option :value="'yyy'" label="yyy"/>
                            </el-select>
                        </Value>
                    </Cell>
                </Row>
            </Form>
            <Aside class="text-center">
                <el-button type="primary" size="mini" @click="submit">保存</el-button>
                <el-button type="primary" size="mini" @click="$router.back()">取消</el-button>
            </Aside>
        </template>
    </Cards>
</div>