.employee{
  display: flex;
  align-items:flex-start;
  .organization-tree{
    width: 23%;
    min-height: 500px;
    margin-right: 10px;
    ::v-deep .el-tree-node.is-current>.el-tree-node__content{
      background-color: #fff;
      color: red;
    }
  }
  .employee-info{
    flex: 1;
    .button-left{
      margin-left: 80px;
    }
    ::v-deep.el-table th>.cell{
      color: #FFFFFF;
    }
  }
}
