.organization{
  display: flex;
  align-items:flex-start;
  .organization-tree{
    width: 25%;
    min-height:500px ;
    ::v-deep .el-tree-node.is-current>.el-tree-node__content{
      background-color: #fff;
      color: red;
    }
  }
  .organization-info{
    flex: 1;
    height: 300px;
      ::v-deep.el-input.is-disabled .el-input__inner{
        cursor:default!important;
      }
    .el-radio{
      margin-right: 15px;
    }
    .oneline{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .button-left{
      margin-left: 50px;
    }

  }
}

