.position-add{
  width: 80%;
  ::v-deep.el-table th>.cell{
  color: #FFFFFF;
  }
  ::v-deep .el-table__empty-block{
    display: none;
  }
}
  .tree{
    height: 200px;
    overflow: hidden;
    ::v-deep .el-tree-node.is-current>.el-tree-node__content{
      background-color: #fff;
      color: red;
    }
  }
